/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root {
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html {
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn > i {
    margin-left: 10px;
}

.btn:hover {
    background: var(--second-color);
    color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
    font-size: 16px;
}

/* ------- BASE -------- */
body {
    background: var(--body-color);
}

.container {
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--body-color);
    padding: 0 9vw;
    transition: .3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}

.nav-logo span {
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}

.nav-menu, .nav_menu_list {
    display: flex;
    align-items: center;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding: 0 15px;
    margin: 0 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
    padding: 0 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 20px;
}

.featured-text-card span {
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin: 20px 0;
}

.typedText {
    text-transform: capitalize;
    color: var(--text-color-third);
}

.featured-text-info {
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}

.featured-text-btn {
    display: flex;
    gap: 20px;
}

.featured-text-btn > .blue-btn {
    background: var(--first-color);
    color: var(--color-white);
}

.featured-text-btn > .blue-btn:hover {
    background: var(--first-color-hover);
}

.social_icons {
    display: flex;
    margin-top: 5em;
    gap: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.icon:hover {
    color: var(--first-color);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image {
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

.scroll-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.scroll-btn i {
    font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section {
    padding: 5em 0;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

/* -- ## --- REUSABLE CSS -- ## -- */
.top-header {
    text-align: center;
    margin-bottom: 5em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

.top-header span {
    color: #999;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 70px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}

.about-info p {
    text-align: center;
    font-size: 15px;
    color: #777;
}

.about-btn button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}

.about-btn button:hover {
    background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
    margin: 10px;
}

.skills-header {
    margin-bottom: 30px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-list span {
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-card {
    width: 100%;
    padding: 30px 20px 70px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}

.project-card h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

.project-card span {
    font-size: 14px;
    color: #777;
    display: block;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.project-link a {
    text-decoration: none;
    color: var(--first-color);
}

.project-link a:hover {
    text-decoration: underline;
}

/* ----- QUALIFICATION BOX ----- */
.qualification-box {
    width: 100%;
    padding: 30px 20px 70px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}

.qualification-card {
    display: flex;
    align-items: center;
    gap: 30px;
}

.qualification-card i {
    font-size: 28px;
    color: var(--first-color);
}

.qualification-card > h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-second);
}

.qualification-card > p {
    font-size: 14px;
    color: #777;
}

/* ----- CONTACT BOX ----- */
.contact-box {
    width: 100%;
    padding: 30px 20px 70px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}

.contact-box h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

.contact-box p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.contact-box .btn {
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}

.contact-box .btn:hover {
    background: var(--first-color-hover);
}

/* ----- MEDIA QUERIES ----- */

/* ----- TABLET MEDIA QUERY ----- */
@media (max-width: 968px) {
    .nav-menu-btn {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        gap: 30px;
        background: var(--body-color);
        transition: .3s;
        z-index: 100;
    }

    .nav-menu .nav_list {
        font-size: 20px;
    }

    .nav-link {
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    .nav-menu.show {
        left: 0;
    }

    .featured-box {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .featured-text,
    .featured-image {
        width: 100%;
    }

    .featured-name {
        font-size: 45px;
    }

    .image {
        width: 300px;
        height: 300px;
    }

    .scroll-btn {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .about-info {
        padding: 30px 20px 40px;
    }

    .project-card {
        padding: 30px 20px 40px;
    }

    .qualification-box {
        padding: 30px 20px 40px;
    }

    .contact-box {
        padding: 30px 20px 40px;
    }
}

/* ----- MOBILE MEDIA QUERY ----- */
@media (max-width: 568px) {
    .nav-name {
        font-size: 22px;
    }

    .featured-name {
        font-size: 32px;
    }

    .featured-text-info {
        font-size: 13px;
    }

    .image {
        width: 250px;
        height: 250px;
    }

    .featured-text-btn {
        flex-direction: column;
    }

    .about-info {
        padding: 30px 20px;
    }

    .project-card {
        padding: 30px 20px;
    }

    .qualification-box {
        padding: 30px 20px;
    }

    .contact-box {
        padding: 30px 20px;
    }

    .top-header h1 {
        font-size: 24px;
    }
}
